<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>

	<link th:href="@{/js/uploadfile.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.uploadfile.js}"></script>
	<script th:src="@{/js/jeesite.js}"></script>


	<script type="text/javascript">

        $(document).ready(function(){

            $("#fileuploader").uploadFile({
                url:"/info/savePhoto?templateUrl="+parent.theUrl, //后台处理方法
                fileName:"myfile",   //文件的名称，此处是变量名称，不是文件的原名称只是后台接收的参数
                dragDrop:true,  //可以取消
                abortStr:"取消",
                sequential:true,  //按顺序上传
                sequentialCount:1,  //按顺序上传
                autoSubmit :"false",  //取消自动上传
                acceptFiles:"*" , //限制上传文件格式
                extErrorStr:"上传文件格式不对",
                maxFileCount:10,       //上传文件数量
                maxFileSize:1024*1024*3, //大小限制3M
                sizeErrorStr:"上传文件不能大于3M",
                dragDropStr: "<span style='color:black'><b>请选择要显示的二维码图片</b></span>",
                showFileCounter:false,
                returnType:"json",  //返回数据格式为json
                onSuccess:function(files,data,xhr,pd)  //上传成功事件，data为后台返回数据
                {
                    //将返回的上传文件id动态加入的表单中，用于提交表单时返回给后台。
                    if( data.status==1){

						if(data.qrcodeImg==""||data.qrcodeImg==null){
                            // alert("解析失败,请手动填写微信号");
                            alert("上传失败，请联系管理员");
						}else{
                            // $('#userphoto', window.parent.document).val(data.userphoto);
                            $('#qrcodeImg', window.parent.document).attr("src",data.qrcodeImg);
						}

                    }else if(data.status==2){
                        alert("请选择模板后在上传二维码图片");
                    }else{
                        alert("上传失败，请联系管理员");
					}
                },
                showDelete: false,//删除按钮
                statusBarWidth:600,
                dragdropWidth:600,
                //删除按钮执行的方法
                deleteCallback: function (data, pd) {
                    var fileId=data.data[0].fileId;
                    $.post("control/news/deleteFile.action", {fileId:fileId},
                        function (resp,textStatus, jqXHR) {
                            alert("delete ok");
                            //alert(textSatus);
                        });
                    //删除input标签
                    $("#"+fileId).remove();
                    pd.statusbar.hide(); //You choice.
                }
            });

        });
	</script>


</head>
<body class="white-bg">
	<div id="fileuploader">上传附件</div>
</body>
</html>
