<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<title>2018最新网络赚钱平台</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="Keywords" content="网上赚钱，微信赚钱，手机赚钱，赚钱，赚钱的方法，快速赚钱，在家赚钱，如何赚钱，钱生钱，成功创业经验">
	<meta name="Description" content="网上赚钱，微信赚钱，手机赚钱，免费的创业手法，低成本赚钱，快速赚钱的方法，想赚钱，钱生钱，增加收入">
	<link rel="stylesheet" href="/h5/wangzhuan5/css/mmm.css" type="text/css">
	<script type="text/javascript" src="/h5/wangzhuan5/js/jquery_002.js"></script>
	<script type="text/javascript" src="/h5/wangzhuan5/js/tz1.js"></script>
	<script src="/h5/wangzhuan5/js/jquery.js"></script>
	<script src="/h5/wangzhuan5/js/clipboard.min.js"></script>
	<script src="/h5/wangzhuan5/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/h5/wangzhuan5/js/jquery.zclip.min.js"></script>




	<style type="text/css">

		#touch {
			position: fixed;
			top: 50%;
			right: 0;
			cursor: pointer;
			z-index: 999;
		}
		.modal {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1040;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			outline: 0;
			background: rgba(0, 0, 0, .3);
		}

		.modal h4 {
			font-size: 16px;
		}

		.bs-example-modal-sm {
			width: 100%;
			line-height: 45px;
			font-family: '黑体';
			font-size: 1.6em;
			border-bottom: 2px #ddd solid;
			text-align: center;
			display: none;
		}

		.modal-sm {
			width: 300px;
		}

		.modal-dialog {
			margin: 30px auto;
		}

		.modal-header {
			min-height: 16.43px;
			padding: 15px;
			border-bottom: 1px solid #e5e5e5;
		}

		.modal-content {
			position: relative;
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #999;
			border: 1px solid rgba(0, 0, 0, .2);
			border-radius: 6px;
			outline: 0;
			-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
			box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		}

		.modal-body {
			position: relative;
			padding: 15px;
		}

		#mydel {
			position: absolute;
			width: 40px;
			height: 40px;
			line-height: 40px;
			right: -16px;
			top: 82px;
			background: rgba(0, 0, 0, .85);
			color: #fff;
			border-radius: 50px;
			font-family: Arial;
			font-size: 20px;
			font-weight: 100;
			text-align: center;
		}
		#omake {
			z-index: 999;
			display: none;
			width: 80%;
			margin:0 auto;
			text-align: center;
			position: fixed;
			top: 35%;
			left: 0;
			right:0;
			padding: 20px 0;
			background: #fff;
			border-radius: 5px;
			font-size: 1pc;
			box-shadow: 0 0 10px #000;
		}
		#omake #cancel {
			background: #fff;
			padding: 2px;
			position: absolute;
			top: -9pt;
			right: -9pt;
			border-radius: 50%;
			cursor: pointer;
			box-shadow: 0 0 10px #666;
		}
		#omake .omake_weixin, #omake a {
			padding: 5px 10px;
			font-weight: 700;
			background: #22c7a0;
			color: #fff;
			border-radius: 5px;
			font-size: 18px;
		}
		#omake p {
			padding: 5px 0;
			display: inline-block;
		}

		.STYLE1 {color: #FF0000}
	</style>

</head>



<body style="background: rgb(239, 239, 239); zoom: 1;">

<div id="ks_ol_floatWin" class="ks_ol_comm_div"></div>
<div id="main-content" class="clearfix" style="margin:0 auto;box-sizing: border-box;position:relative; max-width:640px !important;background:#FFF;">
	<p style="white-space: normal;"><img src="/h5/wangzhuan5/images/1.png"></p>
	<div class="ui-portlet clearfix " style=" padding:0px 9px 30px;">
		<div class="ui-portlet-content">
			<h1 style="text-indent: 0.0000pt; line-height: 28.5000pt; margin: 0.0000pt; padding: 0pt; background: rgb(255,255,255)">
				<span style="font-family: 微软雅黑; color: rgb(0,0,0); letter-spacing: 0.0000pt; text-transform: none; font-style: normal; font-size: 16.5000pt; background: rgb(255,255,255); background-color: rgb(255,255,255)">揭秘：95后奇女子，躺家10天，只用100元存款刷出2万收入，方法惊呆众人...</span></h1>

			<div class="article__header article__header-container"><div class="pgc-bar-top clearfix" data-user-id="3932529256"><a class="avatar-link" href="http://www.bycp001.com/##"><div class="avatar"><span><img src="/h5/wangzhuan5/images/cjtt.jpg" class="avatar" alt="财经头条"></span></div></a><div class="subtitle"><p class="name"><a href="http://qtt.chenbai.top/##" class="screen-name"><span id="mediaName">财经头条</span><span><img src="/h5/wangzhuan5/images/toutiaohao.png" class="tx"></span></a></p><a href="http://www.bycp001.com/##" class="time"><span class="original">原创</span></a></div><div align="right"><span oncopy="javascript:window.location.href=&#39;mqq://&#39;"><imagebutton class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn" style="width: 88px; height: 33px"></imagebutton>
		            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div></div>
			<div class="Content-info" style="margin-bottom:15px;">

			</div>
			<div id="fullpage" class="msg-content">
				<section class="article135" label="免费分享我的互联网成功创业经验" style="font-family:微软雅黑;font-size:16px;">
					<section class="article135" label="免费分享我的互联网成功创业经验" style="font-family: 微软雅黑; font-size: 16px; box-sizing: border-box;">
						<p style="white-space: normal;color: #000000;">网上赚钱已经不再是秘密，现在越来越多的人加入到网上赚钱的行列中，但是还有很多人一直在摸索，没有找到<font color="#FF0000">简单快捷</font>的赚钱之道。<font color="#FF0000">赚钱之道，永远掌握在少数人手里。</font></p>
						<p><script>document.write(getimg());</script><img src="/h5/wangzhuan5/images/qrcode.jpg"></p>
						<p><img src="/h5/wangzhuan5/images/图片1.jpg" width="690" height="358"></p>
						<p>财富美女微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p>足不出户，轻松赚钱，每天花一个小时，100元投资，轻轻松松月入过万！ 添加财富QQ:945827014<br>
							我们志在打造一个成功网上赚钱的团队，稳定收入不再是梦！ <br>
							互联网史无前例的惊人做法——10分钟学会操作流程，半小时开始获得收益！</p>
						<p>注意：<span class="STYLE1">让你先交学费的99%是骗子；真正的赚钱项目，都是自己摸索出来的，无需任何学费。</span> </p>
						<p>&nbsp; </p>
						<p align="center"><strong>有人用手机聊天，有人却用手机赚钱！添加财富QQ：945827014</strong> </p>
						<p>&nbsp; </p>
						<p>财富美女微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p><strong>95后文职妹从一个上班族到月入十万，她靠自己的努力做到了！</strong> <br>
							　
							闺蜜小敏给我打电话说买车了，明天要带我兜风去，而且是买了一辆奔驰，打完电话，我还久久不能平静下来。小敏和我一样是16年大学毕业，在公司做个文职，一个月工资才4500，竟然买了个奔驰，这难道被包养了？小敏怎么也走上这条路了...... <br>
							　
							第二天小敏开车来接我的时候，我眼睛都是红的，因为一夜没睡好啊。不行，我一定要好好劝劝她，当二奶这条路是不好的！还非常不道德的！我先跟她瞎聊了一会儿，才半开玩笑的试探着问："小敏，你竟然都买上奔驰了，是不是有个王老五包养了你”，小敏哈哈一笑："你想什么呢？我是那种人吗？咱也不是出卖身体的人，我的钱都是自己赚的啊！"</p>
						<p><img src="/h5/wangzhuan5/images/图片2.png" width="580" height="303"></p>
						<p>成功团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p> 　"你一个小文员，一个月工资4500元，怎么可能买上这么好的豪车，你就算打死我都不相信！"小敏竟然也不瞒我，说道："我是自己投资自己赚钱的，现在一个月收入不算工资最少都在三万钱以上。我现在是想上班就上班，不想上班就自己出去旅游。 <br>
							　
							这一切缘于我在网上无意间加入一个专业网上赚钱的团队。 进去后我发现原来是一个打造成功的网上创业团队，而且这些都是免费的！专业老师在很短时间就教会我如何通过网上去赚到钱。不到一个星期我就可以每天小赚个三五百元了。<br>
							　
							我把闺蜜的故事讲出来，只是想让跟我一样拥有梦想的朋友不再绕弯路。是因为网络的市场真的太大了，没有任何一个人可以把网上的钱赚完，希望能有更多的人跟我和闺蜜一样获得成功。加入到我们的这个网上赚钱的团队里面来，月入十万不再是梦！ </p>
						<p class="STYLE1"><strong>下面是她买的奔驰</strong> </p>
						<p>财富团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p><img src="/h5/wangzhuan5/images/图片3.png" width="580" height="384"></p>
						<p><font color="#FF0000"><strong>成功案例（白领 李琪）</strong></font></p>
						<p>成功团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p>李琪，是浙江杭州人，平常也是一个上班族，工资只有三四千，但是，自从今年1月份无意间加了一个专业网上赚钱的团队，在老师的介绍下，了解到一个新的赚钱方法，这个新的赚钱方法操作非常简单，手机就可以随时随地操作，并且100元就可以做投资，她开始的时候就是从100元开始的，抱着半信半疑的心态试了一下，反正对自己也造成不了任何损失，没想到居然用这100元赚了10000元，这让她非常兴奋，还想着会不会是有问题，没想到她立刻提现，10000元很快就到自己的银行卡上，现在，她靠每天坐车和业余的时间，每天操作几单，一个月轻松过十万，实在是令人羡慕不已。她还是说道坚持要勇于尝试，接受新鲜事物是现代社会必须要有素质，不然根本就不知道怎么去赚钱。 正是因为这个网上赚钱的团队 ，让她短短的半年多的时间里边，轻松挣到了十万，平均每个月挣1万多，最高的时候一个月挣了2万多，现在她的梦想是，在老家买一套150平米的大房子 。。 她说其实一点都不难，谁都可以做得到，起步投资也低。就因为好多人，就没有把这些小事放到眼里，所以失去错过了机会。欢迎你们加入我们的赚钱团队学习我们赚钱方法，这样你才能赚钱。</p>
						<p><img src="/h5/wangzhuan5/images/QQWZ2.jpg" width="100%" height="100%"></p>
						<p><font color="#FF0000"><strong>成功案例（程序员 张海坤）</strong></font></p>
						<p>成功团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p>今年37，是程序员，刚和谈了5年的女朋友分手了，她家里很有富裕，家长反对我们在一起，说我们地位不对等。去了她家，我无数次尝受到被人看不起的滋味。我觉得，对于男人来说，有钱才是王道。没钱就什么都不是。我开始拼命挣钱，在朋友的推荐下加了团队的教学老师的微信，也让我下定 "决心" 跟着老师的方法来操作，没想到当天真的赚到了650块钱，后来也在团队里到别人一天都能赚上3000元10000元不等老师教我挣钱的门路，现在我一个月赚了7万，这不是程序员的工资，而是我通过我朋友介绍的网上赚钱团队的赚的。现在很知足了！也非常感谢我的这位朋友分享老师微信给我 现在我也买了属于自已的房子跟车子，每天过的也是轻松自由没有生活压力。也希望大家可以跟我一样在网上赚钱团队里面赚到更多更多的钱。 欢迎你们加入我们的赚钱团队学习我们赚钱方法，这样你才能赚钱。</p>
						<p><img src="/h5/wangzhuan5/images/85effd840e346899.jpg" width="100%" height="100%"></p>
						<p>财富团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p>天天上班，努力工作，但是钱依然不够花。</p>
						<p>每月就那么一点点工资还要买化妆品、<span class="STYLE1"><strong>买衣服买鞋，还要还房贷、还车贷以及还不完的其他各种贷.</strong></span></p>
						<p>生活总是给我们太多的不如意，每天忙忙碌碌</p> 财富QQ:945827014
						<p>如果你想改变自己现在贫穷的状况，不花一分钱就能学习到别人的成功秘诀，<span class="STYLE1"><strong>让自己也踏入富豪的行列.</strong></span></p>
						<p>如果你想知道这样一个和你一样，也许起点比你还低的她，<span class="STYLE1"><strong>都能月入十万，改变自己的命运！！！</strong></span></p>
						<p>当你看到这篇文章的时候，你现在正拿着手机打开qq，看着文章。现在我们很多人玩微信qq时候有事没事刷刷朋间朋友圈发个心情、发张照片、评论下好友、调侃下小伙伴，随着越来越多的人对微信qq犹如“吸食了大麻”，中毒不浅。</p>
						<p>而你可知，其实在<span class="STYLE1"><strong>微信之下还隐藏了一个教你赚钱的法宝</strong>。</span></p>
						<p>财富团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
						<p><img src="/h5/wangzhuan5/images/图片4.jpg" width="554" height="475"></p>
						<p>&nbsp;</p>
						<h5><div align="center"><font color="#FF0000">一个微信号改变你的一生！</font></div></h5>
						<h6>
							<div align="center">
								<p>便捷操作,随时掌握动态\收益,轻松实现掌上致富!</p>
								<p>网赚团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
								<p><script>document.write(getimg());</script><img src="/h5/wangzhuan5/images/qrcode.jpg"></p>
								<p><font color="#FF0000">互联网史无前例的惊人赚钱做法！<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273965637'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273965637%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1273965637"><a href="http://www.cnzz.com/stat/website.php?web_id=1273965637" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="/h5/wangzhuan5/images/pic1.gif"></a></span><script src="/h5/wangzhuan5/images/z_stat.php" type="text/javascript"></script><script src="/h5/wangzhuan5/images/core.php" charset="utf-8" type="text/javascript"></script></font></p>
							</div>
						</h6>
						<p></p>
						<p><font size="3">阅读 100000+&nbsp;19738</font></p>
						<p><img src="/h5/wangzhuan5/images/LL.png" width="687" height="22"></p>

						<font size="3" face="宋体"><article class="detaillist">
						</article></font><font size="3"><article class="detaillist"></article></font><article class="detaillist"><div id="131303366" class="detail">
						<div class="title">
							<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">梦里水乡</a>
								<span class="fr ">2楼</span>		</font></div>
						<div class="content_box">
							<div class="content wap_content">
								<p><font size="3" face="宋体">谢谢楼主，真的很不错，楼主好人一生平安！</font></p>
							</div>
							<font size="3" face="宋体"><small class="fl">刚刚</small>
								<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
						</div>
					</div>
						<div id="131316746" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">梦想起航</a>
									<span class="fr ">3楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">个人觉得啊，网赚团队是个挺好的团队，能够帮助那些想创业又因为资金困难无法创业的人致富，目前很受广大创业者的欢迎。</font></p>
									<p>团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131307002" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">有我就有你</a>
									<span class="fr ">4楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content"><font size="3" face="宋体"> 这么多人，团队老师忙的过来吗？有时间教我吗？</font></div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131310859" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">白色星期天</a>
									<span class="fr ">5楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p></p>
									<div class="reply_box">
										<div class="quote">
											<p class="info"><font size="3" face="宋体">引用第4楼有我就有你于刚刚 07:29发表的:</font></p>
											<p><font size="3" face="宋体"> 这么多人，团队老师忙的过来吗？有时间教我吗？ </font></p>
										</div>
									</div>
									<p></p>
									<p><font size="3" face="宋体"> 网赚团队里面有很多免费学习的资料呢，而且定期都有免费的培训。团队老师人也都很好，只要 你提问肯定会回复的，有时候忙会迟一点，但是这些都是免费的！</font></p>
									<p>团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131310868" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">我的温柔你来陪</a>
									<span class="fr ">6楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p></p>
									<div class="reply_box">
										<div class="quote">
											<p class="info"><font size="3" face="宋体">引用第4楼有我就有你于刚刚 08:35发表的:</font></p>
											<p>谢谢，我直接复制加这个<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</span></strong></font></span>微信号可以了吗？</p>
										</div>
									</div>
									<p></p>
									<p><font size="3" face="宋体"> 嗯嗯，是的啊，愿你早点获得成功O(∩_∩)O~~</font></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131311759" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">#测试qq号#</a>
									<span class="fr ">7楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">我也是跟着网赚团队一起创业呢，以前收入很低的勉强够自己吃喝，自从进去了网赚团队，我现在收入是翻了几翻，几天赚的钱都抵得过我一个月了，嘻嘻、想要跟我一样赚更多钱的朋友赶紧加入网赚团队吧。<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</span></strong></font></span>可以加微信了。 </font></p>
									<p>团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131314171" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">7月7日晴</a>
									<span class="fr ">8楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">嘿嘿，我已经进去了，团队老师真的像楼主说的那样呢</font></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131314688" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">飞黄腾达</a>
									<span class="fr ">9楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p>是<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</span></strong></font></span>这个微信吧！为啥我加上还没通过。。。。 是不是加团队的人比较多？？</p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131314731" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">单曲走天涯</a>
									<span class="fr ">10楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">楼上没通过的不要急，加的人太多，团队是逐批通过的，我之前就是这样。不过，网赚团队真的很厉害，我现在赚的比楼主还多呢，嘎嘎 </font></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131315533" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">姑娘不温柔</a>
									<span class="fr ">11楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">加入的人挺多的，网赚团队这个团队至今拥有成员大概357368人，我也是最近才了解的，觉得还可以。</font></p>
									<p>团队微信：<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong><span id="target2"><samp oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></strong></font></span> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn2" style="width: 128px; height: 25px"><span style="font-size: 12pt">点击复制加微信</span></button></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>
						<div id="131316746" class="detail">
							<div class="title">
								<font size="3" face="宋体"><a href="javascript:void(0);" class="bc">成长不烦恼</a>
									<span class="fr ">12楼</span>		</font></div>
							<div class="content_box">
								<div class="content wap_content">
									<p><font size="3" face="宋体">大学刚毕业，今年穷死了，工作也不好找，我要好好跟老师学习怎么赚钱才行，攒钱明年取老婆。哈哈哈哈</font></p>
								</div>
								<font size="3" face="宋体"><small class="fl">刚刚</small>
									<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>                  </span>			</font><div class="clear"></div>
							</div>
						</div>

					</article>
					</section><font face="宋体" size="3">
				</font></section>
				<font face="宋体" size="3">				  </font></div>
			<font face="宋体" size="3">

			</font></div><font face="宋体" size="3">
	</font></div><font face="宋体" size="3">
</font></div>

<div class="btcode"><font size="3" face="宋体">老师微信号：<strong id="wechat12" style="padding: 5px 10px;background: #f5fb01;border-radius: 6px;color: #d32a63;"><span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><span id="target"><samp style="font-size: 12pt" oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></span></strong></font> <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn" style="width: 150px; height: 28px"><span style="font-size: 13pt">点击复制加微信</span></button></div>


<div id="touch"><img src="/h5/wangzhuan5/images/wxa.gif" width="68" height="68"></div>
<div id="omake" style="display:none;"><img id="cancel" src="/h5/wangzhuan5/images/GBO.png">老师微信：<span id="target"><samp style=" font-size:16px; background:#f00; color:#fff; font-weight:bold;" oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script> document.write(getWxCode());</script>#测试qq号#</samp></span><br><p>★<button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn" style="width: 150px; height: 26px"><span style="font-size: 13pt">点击复制加微信</span></button>★</p><br><p>加入网上赚钱团队</p></div>
<script type="text/javascript">

    $(function(){
        $("#touch").click(function(){
            $("#omake").show()

        })
        $("#cancel").click(function(){

            $("#omake").hide()
        })

    })
</script>


<div class="modal fade bs-example-modal-sm in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-header" style="padding: 0px; margin: 0px; position: relative;">
			<img src="/h5/wangzhuan5/images/zj.png" alt="" style="width: 100%; vertical-align: middle">
			<p id="mydel">X</p>
		</div>
		<div class="modal-content" style="border-top-right-radius: 0; border-top-left-radius: 0;">

			<div class="modal-body">
				<h4 style="margin: auto; line-height: 150%;">恭喜您获得与<span style="color: red; font-size: 20px; font-weight: bold;">专家</span>免费交流的资格</h4>
				<h4 style="margin: auto; line-height: 250%;"><span style="color: red; font-size: 20px; font-weight: bold;"></span></h4>
				<h4 style="margin: auto; line-height: 200%;"><font style="color: #f74545; font-weight: bold; font-size: 20px" id="tz">
					<span id="target"><samp style="font-size: 12pt" oncopy="javascript:window.location.href=&#39;mqq://&#39;"><script>document.write(getWxCode());</script>#测试qq号#</samp></span></font></h4>
				<h4 style="margin: auto;">★<button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn" style="width: 128px; height: 26px"><span style="font-size: 13pt">点击添加微信</span></button>★</h4>
				<h4 style="margin: auto;">加微信即可领取18元彩金大礼包</h4>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
    $(function () {
        $("#mydel").click(function () {
            $("#myModal").css("display", 'none');

        });
    })
</script>


<div class="copyright"> </div>
<div class="_bd_ext_tip" style="visibility: hidden;"></div>

<script>
    $(document).ready(function(){
        var targetText=$("#target").text();
        var clipboard = new Clipboard('#copy_btn');
        clipboard.on('success', function(e) {
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
            alert("微信复制成功，请打开微信添加朋友！");
            e.clearSelection();
        });

        var targetText=$("#target").text();
        var clipboard = new Clipboard('#copy_btn2');
        clipboard.on('success', function(e) {
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
            alert("微信号复制成功，请打开微信添加朋友！");
            e.clearSelection();
        });


    });

</script>

<script>
    // var _hmt = _hmt || [];
    // (function() {
    //     var hm = document.createElement("script");
    //     hm.src = "";
    //     var s = document.getElementsByTagName("script")[0];
    //     s.parentNode.insertBefore(hm, s);
    // })();
</script>







</body></html>