
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<title>宝妈在家没事做？她发现老公出轨后加微信学赚钱，年收入惊人！</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="/h5/wangzhuan9/css/common_20190415.css">
	<script hijack="aiclk_hijack_script_flag" type="text/javascript" src="/h5/wangzhuan9/js/trace.js "></script>


</head>
<body>
<div style="display:none;"><div id="landingPageBaseTemplateModule">onlineTemplate</div>
	<div id="landingPageAnswer"></div>
	<div id="landingPageSiteMiddlePageDataUrl">sss</div>
	<div id="landingPageSiteBuildingId">sss</div>
	<div id="landingPagePromoteModule">[{"promote":"#测试微信号#","name":"","type":1,"imageUrl":""}]</div>
	<div id="landingPageSiteConfing">{"hasCarousel":0,"hasTimeCountDown":0,"addCoins":0}</div>
</div>
<div style="display: none;">{{current_site_passed}}</div>


<div class="iphone-preview" id="componentDragWrap">
	<div id="eleDrag1" class="ele-drag" origintop="0" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<p class="T1_p yii_template landing-page-title" times="1" style="margin-right: 10px; margin-left: 10px; font-size: 21px; color: rgb(220, 21, 21); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">宝妈在家没事做？她发现老公出轨后加微信学赚钱，年收入惊人！</p>
				<div class="T1_p1 yii_template" style="font-size: medium; line-height: 32px; color: rgb(121, 121, 121); border-bottom: 1px solid rgb(210, 210, 210); text-indent: 10px; overflow: hidden; font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">
					<p style="float: left;"><span class="landing-page-time" style="color: rgb(62, 100, 147);">2018-07-28</span><span style="margin-right: 10px; margin-left: 10px;">今日博主</span><span times="1" style="color: rgb(62, 100, 147);">阅读：5436591</span></p>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag2" class="ele-drag" origintop="119" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/8173e40085cca87c53dfa041c037a217_1524395.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag4" class="ele-drag" origintop="324" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<h2 align="center" times="1" style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">你还辛苦打工挣三四千元？</h2>
				<h2 align="center" style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">她们在家看娃</h2>
				<h2 align="center" style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">一个月赚你一年的钱</h2>
				<h2 align="center" style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">不往下看又要穷一年！</h2>
			</div>
		</div>
	</div>
	<div id="eleDrag5" class="ele-drag" origintop="410" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/c491cca4c70d10fe4b47d77b85d57566_1524395.jpg?0.04218427192142005" />
			</div>
		</div>
	</div>
	<div id="eleDrag6" class="ele-drag" origintop="647" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<span style="color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: 18px;">秋菊姐，3个月前月收入只有2000块，拿不出一分钱给聋哑的女儿治病，现在月收入非常理想，把女儿送进了北京最好的聋哑学校！</span>
			</div>
		</div>
	</div>
	<div id="eleDrag7" class="ele-drag" origintop="761" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/2cc445b20dd42e7ef4876d9a58c7f094_1524395.jpg?0.6688630935809332" />
			</div>
		</div>
	</div>
	<div id="eleDrag8" class="ele-drag" origintop="1000" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<span style="color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: 18px;">她叫婷婷，4个月前是一名月入3000的国家公务员，靠啃老生活，现在已经靠这种投资实现经济自由！</span>
			</div>
		</div>
	</div>
	<div id="eleDrag9" class="ele-drag" origintop="1092" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/cc8a4c3e23104958f45c0b4ca4c54617_1524395.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag10" class="ele-drag" origintop="1354" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<span style="color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: 18px;">她叫晓玲，两个孩子的80后宝妈，一直拿着吃不饱也饿不死的上班工资，还被老公背叛抛弃，伤痕累累，现在买车买房，扬眉吐气！</span>
			</div>
		</div>
	</div>
	<div id="eleDrag11" class="ele-drag" origintop="1468" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/bbe82bff40359b35504e2ea5b969f6bb_1524395.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag12" class="ele-drag" origintop="1811" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<p class="T2_p2" style="padding: 10px 16px; font-size: 18px; line-height: 36px; color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">还有四川遂宁市的朱诗卉，辽宁省铁岭市的吴枫，河北省沧州市的付凤霞……很多人只投入了几百元，却在短短几个月里买车，买房，实现了自己的人生梦想。</p>
				<p class="T2_p2" style="padding: 10px 16px; font-size: 16px; line-height: 36px; color: rgb(209, 13, 50); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; text-align: center;">那个改变她们命运的是什么？</p>
				<!--<p style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: medium;"><img class="Img5 yii_template" src="http://cdn.liuxuejy.com//allsites/1511972/6abba5d8ab1f4f32243e174beb754661/tu7.7.jpg" style="border-style: none; width: 666px; height: auto; display: block; margin-right: auto; margin-left: auto;" /></p>-->
				<p style="color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: medium;"></p>
				<p class="T2_p2" times="1" style="margin-top: 15px; padding: 10px 16px; font-size: 16px; line-height: 36px; color: rgb(209, 13, 50); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; text-align: center;">微投资——带你梦想成真！</p>
			</div>
		</div>
	</div>
	<div id="eleDrag13" class="ele-drag" origintop="2187" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/1ec957a7fd3d94ffab9361dc0f8d7ab4_1524395.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag14" class="ele-drag" origintop="2370" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<p class="T2_p2" style="padding: 10px 16px; font-size: 16px; line-height: 36px; color: rgb(209, 13, 50); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; text-align: center;"><span style="color: rgb(181, 13, 13); font-weight: bold; height: auto !important; font-size: 22px;">【★给你算笔帐★】</span><br />如果你用100元做微投资，收益是多少？<br />第一次：100*70%=170元<br />第二次：170*70%=289元<br />&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;<br />第七次：2413.76*70%=4103.392元<br />&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;<br />第十次：11858.81*70%=20159.98元<br />而这个成绩，一天之内就可以完成</p>
				<p class="T2_p2" times="1" style="padding: 10px 16px; font-size: 18px; line-height: 36px; color: rgb(255, 79, 121); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; text-align: center;">你以为这是神话？NO，这个是实实在在的成绩！</p>
			</div>
		</div>
	</div>
	<div id="eleDrag15" class="ele-drag" origintop="2834" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/daed0b3a851ae6cbc54b40606acc94b0_1524395.jpg?0.9174653059416564" />
			</div>
		</div>
	</div>
	<div id="eleDrag16" class="ele-drag" origintop="3199" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<p class="T2_p2" style="padding: 10px 16px; font-size: 1.5rem; line-height: 36px; color: rgb(0, 122, 178); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; text-align: center;">- 慧慧 -</p>
				<p class="T2_p2" times="1" style="padding: 10px 16px; font-size: 18px; line-height: 36px; color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">就是照片中的这个人，名字叫慧慧，广东清远人。在过去，她被认为是一名不折不扣的&quot;屌丝&quot;，出于一些个人原因，她没能考上大学，只上了一所不知名的中专院校。也因为如此，第一份工作底薪只有1500块钱。和很多人相比，她的起点都相当低。按照常理推测，如果不撞大运中彩票，这一辈子也就这样稀里糊涂过去了。</p>
			</div>
		</div>
	</div>
	<div id="eleDrag17" class="ele-drag" origintop="3625" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/c5dd324166614a65cb9962e3edcb541e_1524395.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag18" class="ele-drag" origintop="3766" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<span style="color: rgb(255, 0, 0); font-weight: bold; font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: 18px; text-align: center; display: block; height: auto !important;">问问你自己，是否曾经为下面的问题而困惑过呢？</span>
				<span times="1" style="color: rgb(255, 0, 0); font-weight: bold; font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: 18px; margin: 10px auto; display: block; height: auto !important;">&middot;工作越来越重，工资却死都不涨<br />&middot;明明能力不比人差，却因为没关系没背景得不到重视<br />&middot;看到有人投资赚钱，心动却没人带<br />&middot;想做生意，资金负担重，回笼有困难</span>
			</div>
		</div>
	</div>
	<div id="eleDrag19" class="ele-drag" origintop="3942" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/c08f3be605dc6586ce9de66dfa8ff520_1524395.jpg?0.8984615365046769" />
			</div>
		</div>
	</div>
	<div id="eleDrag20" class="ele-drag" origintop="4010" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<p class="T2_p2" style="padding: 10px 16px; font-size: 18px; line-height: 36px; color: rgb(42, 42, 42); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">那些你羡慕仰望的人，不过是抓住了一次翻身的机会！在做微投资，就是这样一次机会！她们都成功了，你也可以！</p>
				<div>
					<br />
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag21" class="ele-drag" origintop="4220" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan9/images/95fe52937267807ee79e4333ad0794ec_1524395.jpg?0.12736016695860863" />
			</div>
		</div>
	</div>
	<div id="eleDrag22" class="ele-drag" origintop="4458" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<div class="wx" style="text-align: center; padding-top: 10px; padding-bottom: 10px; color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘; font-size: medium;">
					马上加
					<span class="landing-page-type">{{wechat_text}}</span>号：
					<span class="weixinid" style="color: rgb(255, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span class="landing-page-number"></span></span>
					<span style="background-color: rgb(255, 0, 0);">&nbsp;{{wechat}}</span>稳定收入不再是梦！
				</div>
				<div class="contBot" style="font-size: 18px; color: rgb(0, 0, 0); font-family: &aring;&frac34;&reg;&egrave;&frac12;&macr;&eacute;›…&eacute;&raquo;‘;">
					<div class="label" style="height: 28px; padding-right: 13px; padding-bottom: 3px; padding-left: 13px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; border-bottom: 1px solid rgb(224, 224, 224); line-height: 28px;">
						<h3 style="padding-bottom: 3px; border-bottom: 1px solid rgb(54, 104, 178); bottom: 0px; font-size: 14px; color: rgb(51, 51, 51); position: relative; float: left;">全部回复</h3>
						<a iclicash_checked="true" style="margin-left: 15px; float: right; display: block; vertical-align: middle; font-size: 12px; color: rgb(102, 102, 102);">倒序排列</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag24" class="ele-drag" origintop="4576" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-comment-component drag-border" dragnum="1" component-tag="component-comment">
			<span class="btn-component-delete">&times;</span>
			<div>
				<img class="item-img comment-photo" src="/h5/wangzhuan9/images/e1ab126a8cc9bdf7862ebb77a0521245_1524395.jpg" />
				<div class="comment-infor-wrap">
					<span class="comment-name">默默付出</span>
					<p class="comment-content">我刚做两个月，确实挺惊喜的，等我再赚多点，也跟你一样把经验分享给大家</p>
					<span class="comment-time">发表于30分钟前</span>
					<span class="comment-praise">3468</span>
				</div>
			</div>
			<div origintop="4527" style="cursor: move;">
				<img class="item-img comment-photo" src="/h5/wangzhuan9/images/0537d638a4cbf5526431764dc76fd9c3_1524395.jpg" />
				<div class="comment-infor-wrap">
					<span class="comment-name">superManxx</span>
					<p class="comment-content">真方便，加了客服，注册就可以用了，试着投了，2分钟我已经赚了200块了，哈哈</p>
					<span class="comment-time">发表于1小时前</span>
					<span class="comment-praise">2357</span>
				</div>
			</div>
			<div origintop="4527" style="cursor: move;">
				<img class="item-img comment-photo" src="/h5/wangzhuan9/images/a73402fbf743e147281ff392472af02a_1524395.jpg" />
				<div class="comment-infor-wrap">
					<span class="comment-name">遗城角落</span>
					<p class="comment-content">操作真简单，一看就会用了。现在我基本都是用碎片时间玩，一有空就拿手机操作。。</p>
					<span class="comment-time">发表于2小时前</span>
					<span class="comment-praise">2886</span>
				</div>
			</div>
			<div origintop="4527" style="cursor: move;">
				<img class="item-img comment-photo" src="/h5/wangzhuan9/images/f81abba753c6d606ccab7fe4606080c8_1524395.jpg" />
				<div class="comment-infor-wrap">
					<span class="comment-name">Tillreetree </span>
					<p class="comment-content">我辞职好久了，也没找到好工作，这个投入是不是很高？</p>
					<span class="comment-time">发表于2小时前</span>
					<span class="comment-praise">2135</span>
				</div>
			</div>
			<div origintop="4527" style="cursor: move;">
				<img class="item-img comment-photo" src="/h5/wangzhuan9/images/3963b7fd2e59382ab0bb32171d68e430_1524395.jpg" />
				<div class="comment-infor-wrap">
					<span class="comment-name">年华</span>
					<p class="comment-content">上周炒股亏了60000多块。后来玩这个，每天投了100块左右，10多天居然让我把炒股的钱都赚回来</p>
					<span class="comment-time">发表于3小时前</span>
					<span class="comment-praise">2224</span>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag26" class="ele-drag" origintop="5155" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 999;">
		<div class="component-float-button drag-border trigger-promote" dragnum="1" component-tag="component-float-button">
			<span class="btn-component-delete">&times;</span>
			<img class="item-img" src="/h5/wangzhuan9/images/wx.gif" alt="" />
		</div>
	</div>
	<div id="eleDrag27" class="ele-drag" origintop="5155" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 999;">
		<div class="component-banner drag-border" dragnum="1" component-tag="component-banner">
			<span class="btn-component-delete">&times;</span>
			<div class="bottom-banner trigger-promote style_5">
				<div class="banner-inner">
					<div class="banner-inner-icon">
						<img src="/h5/wangzhuan9/images/wx.gif" />
					</div>
					<div class="banner-wx-content">
						<span class="banner-wx-text">{{wechat_text}}号</span>
						<span class="banner-wx-num">{{wechat}}</span>
					</div>
					<div class="banner-button">
						+ {{wechat_text}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="alert-dialog" id="alertDialogSs"></div>
</body>
<script hijack="aiclk_hijack_script_flag" type="text/javascript" src="/h5/wangzhuan9/js/common_20190415.js"></script>
</html>