
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<title>远离贫困</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="/h5/wangzhuan7/css/common_20190415.css">
	<script hijack="aiclk_hijack_script_flag" type="text/javascript" src="/h5/wangzhuan7/js/trace.js "></script>


</head>
<body>
<div style="display:none;"><div id="landingPageBaseTemplateModule">onlineTemplate</div>
	<div id="landingPageAnswer"></div><div id="landingPageSiteMiddlePageDataUrl">http://adv.aiclk.com/homepage/site/middlepage?siteId=124549</div>
	<!--<div id="landingPageSiteBuildingId">124549</div><div id="landingPagePromoteModule">[{"promote":"#测试微信号#","type":1,"name":"","imageUrl":""},{"promote":"15663943024","type":1,"name":"","imageUrl":""}]</div>-->
	<div id="landingPageSiteBuildingId">124549</div><div id="landingPagePromoteModule">[{"promote":"#测试微信号#","type":1,"name":"","imageUrl":""}]</div>
	<div id="landingPageSiteConfing">{"addCoins":0,"hasCarousel":0,"hasTimeCountDown":0,"insertJquery":0,"need_md5_js":0}
	</div>
</div>
<div style="display: none;">{{current_site_passed}}</div>
<div class="iphone-preview" id="componentDragWrap">
	<div id="eleDrag2" class="ele-drag" origintop="0" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan7/images/c18fc9b9153afd380caa1b3bbc4fa1a2_1532432.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag3" class="ele-drag" origintop="245" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 1px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<div style="text-align: center;">
					<font style="font-size: 18px;" size="">你还辛苦打工挣三四千元？</font>
				</div>
				<div style="text-align: center;">
					<font style="font-size: 18px;" size="">有人已经</font>
				</div>
				<div style="text-align: center;">
					<font style="font-size: 18px;" size="">早你一步富起来</font>
				</div>
				<div style="text-align: center;">
					<font style="font-size: 18px;" size="">不往下看又要穷一年！</font>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag14" class="ele-drag" origintop="349" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-space-component drag-border" component-tag="component-space" style="height: 20px;">
			<span class="btn-component-delete" style="display: none;">&times;</span>
		</div>
	</div>
	<div id="eleDrag4" class="ele-drag" origintop="372" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<div style="text-align: center;">
					<font style="font-size: 18px;" size="" face="微软雅黑" color="#d10d32"><b>那个改变她们命运的是什么？</b></font>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag5" class="ele-drag" origintop="438" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan7/images/683e3456301661604dca99b4deb35b11_1532432.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag7" class="ele-drag" origintop="645" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan7/images/a201400fc693b1959c1427b7137eb3d7_1532432.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag6" class="ele-drag" origintop="825" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 0px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<div style="text-align: center;">
					<font face="微软雅黑" color="#d10d32"><b>微投资——带你梦想成真！</b></font>
				</div>
				<div style="text-align: center;">
					<font face="微软雅黑" color="#d10d32"><b><br /></b></font>
				</div>
				<div style="text-align: center;">
					<font face="微软雅黑" color="#d10d32"><b>
						<div>
							【★给你算笔帐★】
						</div>
						<div>
							如果你用100元做微投资，收益是多少？
						</div>
						<div>
							第一次：100*70%=170元
						</div>
						<div>
							第二次：170*70%=289元
						</div>
						<div>
							&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;
						</div>
						<div>
							第七次：2413.76*70%=4103.392元
						</div>
						<div>
							&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;
						</div>
						<div>
							第十次：11858.81*70%=20159.98元
						</div>
						<div>
							<br />
						</div></b></font>
				</div>
			</div>
		</div>
	</div>
	<div id="eleDrag8" class="ele-drag" origintop="1067" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 1px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<font style="font-size: 18px;" size="" color="#0080c0">“其实最重要的还是自己的心态，微投资切忌贪嗔痴，当断则断不用犹豫！要么不做，要做就做的最好！”</font>
			</div>
		</div>
	</div>
	<div id="eleDrag11" class="ele-drag" origintop="1151" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-img-component drag-border" component-tag="component-img">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-img-wrap">
				<span class="item-img-label"></span>
				<img class="item-img" src="/h5/wangzhuan7/images/c18fc9b9153afd380caa1b3bbc4fa1a2_1532432.jpg" />
			</div>
		</div>
	</div>
	<div id="eleDrag10" class="ele-drag" origintop="1396" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 999;">
		<div class="component-banner drag-border" dragnum="1" component-tag="component-banner">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="bottom-banner trigger-promote style_5">
				<div class="banner-inner">
					<div class="banner-inner-icon">
						<img src="/h5/wangzhuan7/images/wx.gif" />
					</div>
					<div class="banner-wx-content">
						<span class="banner-wx-text">{{wechat_text}}号</span>
						<span class="banner-wx-num">{{wechat}}</span>
					</div>
					<div class="banner-button">
						+ {{wechat_text}}
					</div>
				</div>
			</div>
			<div class="component-float-button trigger-promote">
				<span class="btn-component-delete" style="display: none;">&times;</span>
				<img class="item-img" src="/h5/wangzhuan7/images/wx.gif" alt="" />
			</div>
		</div>
	</div>
	<div id="eleDrag9" class="ele-drag" origintop="1396" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-text-component drag-border" component-tag="component-text">
			<span class="btn-component-delete" style="display: none;">&times;</span>
			<div class="item-text" style="line-height: 20px; letter-spacing: 1px; border-style: solid; border-width: 0px; border-radius: 0px; border-color: rgb(45, 51, 59);">
				<font style="font-size: 18px;" size="">那些你羡慕仰望的人，不过是抓住了一次翻身的机会！在做微投资，就是这样一次机会！她们都成功了，你也可以！<br /><br />添加导师VX，给自己一次机会！点下面 ↓<br /></font>
			</div>
		</div>
	</div>
	<div id="eleDrag12" class="ele-drag" origintop="1540" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-space-component drag-border" component-tag="component-space" style="height: 20px;">
			<span class="btn-component-delete" style="display: none;">&times;</span>
		</div>
	</div>
	<div id="eleDrag13" class="ele-drag" origintop="1561" style="width: 100%; left: 0px; top: 0px; cursor: move; z-index: 99;">
		<div class="custom-space-component drag-border" component-tag="component-space" style="height: 20px;">
			<span class="btn-component-delete" style="display: none;">&times;</span>
		</div>
	</div>
</div>
<div class="alert-dialog" id="alertDialogSs"></div>
</body>
<script hijack="aiclk_hijack_script_flag" type="text/javascript" src="/h5/wangzhuan7/js/common_20190415.js"></script>
</html>